<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geoway.webstore.dao.CheckResultTotalDao">

    <resultMap id="BaseResultMap" type="com.geoway.webstore.entities.CheckResultTotal">
        <result column="f_code" property="taskName" jdbcType="VARCHAR"/>
        <result column="f_starttime" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="f_endtime" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="f_status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        f_code
        , f_starttime, f_endtime, f_status
    </sql>
    <select id="selectByStatus" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_jctb2021_checkresult_total
        where 1=1
        <if test="status != null">
            and f_status = #{status}
        </if>
        order by f_starttime desc
    </select>

    <select id="selectByStatus2" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_jctb2021_checkresult_total
        where 1=1
        <if test="list != null and list.size() > 0">
            and f_status in (
            <foreach collection="list" item="item" separator=",">
                #{item,jdbcType=NUMERIC}
            </foreach>)
        </if>
        order by f_starttime desc
    </select>


    <!-- 查询1 -->
    <select id="selectForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_jctb2021_checkresult_total
        order by f_starttime desc
        limit #{pageSize} offset #{startIndex}
    </select>
    <!-- 查询总条数 -->
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*)
        from t_jctb2021_checkresult_total
    </select>
</mapper>