<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geoway.webstore.dao.ImportResultDao">

    <resultMap id="BaseResultMap" type="com.geoway.webstore.entities.ImportResult">
        <result column="f_code" property="code" jdbcType="VARCHAR"/>

        <result column="f_sjxzqmc" property="provinceName" jdbcType="VARCHAR"/>
        <result column="f_sjxzqdm" property="provinceCode" jdbcType="VARCHAR"/>
        <result column="f_dsjxzqmc" property="cityName" jdbcType="VARCHAR"/>
        <result column="f_dsjxzqdm" property="cityCode" jdbcType="VARCHAR"/>
        <result column="f_xzqdm" property="countyCode" jdbcType="VARCHAR"/>
        <result column="f_xzqmc" property="countyName" jdbcType="VARCHAR"/>

        <result column="f_status" property="status" jdbcType="INTEGER"/>

        <result column="f_msg" property="msg" jdbcType="VARCHAR"/>
        <result column="f_starttime" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="f_endtime" jdbcType="TIMESTAMP" property="endTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        f_code,
        f_sjxzqmc, f_sjxzqdm, f_dsjxzqmc, f_dsjxzqdm, f_xzqdm, f_xzqmc,
        f_status, f_msg, f_starttime, f_endtime
    </sql>

    <!-- 查询1 -->
    <select id="selectForPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_jctb2021_importresult
        order by f_starttime desc
        limit #{pageSize} offset #{startIndex}
    </select>
    <!-- 查询1 -->
    <select id="selectByCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_jctb2021_importresult where 1=1
        <if test="code != null and code != ''">
            and f_code = #{code,jdbcType=VARCHAR}
        </if>
    </select>
    <!-- 查询总条数 -->
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*)
        from t_jctb2021_importresult
    </select>
</mapper>